/* 
Created: 09/05/09
Author: Josh Sullivan and Mark Turner
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

COLORS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Background:        #ffffff
Headlines:         #ffffff
Sub Headlines:     #ffffff
Main Text:         #ffffff
Sub Text:          #ffffff
Links:             #ffffff
Rules:             #ffffff
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

INDEX
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
GENERAL
HEADER
PRODUCT SPACE
CONTENT
FOOTER
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* GENERAL 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
body {
	background: url('/images/bkgrnd.png') repeat-x;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#grass {
	background: transparent url(/images/grass.png) 70% 0 repeat-x ;
	height: 637px;
	padding: 0px;
}
#owl {
	background: transparent url(/images/owl2.png) 80% 0 repeat-x ;
	height: 637px;
	padding: 0px;
}
#grass2 {
	background: transparent url(/images/grass2.png) 100% 0 repeat-x ;
	height: 637px;
	padding: 0px;
}

/* HEADER 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.logo {
	height: 46px;
	width: 178px;
	margin-top: 20px;
}
.header_links {
	margin-top: 32px;
	padding-right: 3px;
}
.header_links a{
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.5em;
	padding-right: 10px;
}
.header_links a:hover{
	text-decoration: underline;
}
.header_text {
	font-size: 5em;
	font-weight: bold;
	letter-spacing: -0.05em;
	font-family: Helvetica;
	color: #000000;
}
.header_subtext {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.05em;
	font-family: Helvetica;
	line-height: .25em;
	color: #000000;
	
}
.phone{
	color: #94b9cc;
	font-weight: bold;
	text-decoration: none;
	font-size: 1em;
	padding-right: 10px;
}
/* PRODUCT SPACE 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.little_box {
	background: #333333;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	color: #ffffff;
}

/* FOOTER 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.footer_links {
	margin-top: 32px;
	padding-right: 3px;
	text-align: center;
}
