<div class="span-24 last" style="margin-top: 380px;">
</div>
<div class="span-6 append-1">
	<h2>What we do</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	<div class="prepend-top">
		<%= image_tag 'featured_site.png'%>
	</div>
</div>

<div class="span-6 append-1">
	<h2>Why we do it</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
</div>
	
<div class="span-9 prepend-1 last">
	<%= image_tag 'laptop_screenie.png'%>
	<h2>Rapid prototyping</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
  
	<div class="prepend-top"></div>
	<h2>Rapid prototyping</h2>
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
	Using the latest in web standards and Ruby on Rails we
	rapidly prototype your idea from inception to completion.
</div>

<div class="span-13 append-1">
</div>