.span-24.last.center
  .twenty_px_spacer
  %hr
  .footer_links
    = image_tag 'nvariable_logo_inverted.png'
    %br
    All text and design is copyright ©2009-2010 nVariable, Inc. All rights reserved.