<div class="span-24 last center">
	<div style="margin-top: 25px;">
	</div>
	<hr>
	<div class="footer_links">
		<%= image_tag 'nvariable_logo_inverted.png' %>
		<br />
		<%= render :partial => 'layouts/main_links'%><br />
		All text and design is copyright ©2009 nVariable, Inc. All rights reserved.
	</div>
</div>